<div class="box-body">
  <table class="table">
    <thead>
      <tr>
        <th>Nome</th>
      <tr>
    </thead>
    <tbody>
      <tr ng-repeat="gado in gdCtrl.gados">
        <td>{{gado.nome}}</td>
        <td class="table-actionsS">
          <button class="btn btn-warning" ng-click="gdCtrl.showTabUpdate(gado)"><i class="fa fa-pencil"></i></button>
          <button class="btn btn-danger" ng-click="gdCtrl.showTabDelete(gado)"><i class="fa fa-trash-o"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
